body {
  margin: 0;
  font-family: "Satoshi" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #d5e0e5, #d4d8c9, #c0d6df);
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
